/*!
 * Some minimal extra styles for pagination
 */

.txp-navigation .nav-form {
	position: relative;
	margin: 0 0 0 300px;
}

.txp-navigation .prev-next {
	position: absolute;
	bottom: 100%;
	right: 0;
}