/*!
 * Some minimal extra styles for search form
 */

.search-form {
	text-align: right;
	position: relative;
}

.search-form input {
	text-align: left;
}

.search-form p {
	line-height: 1;
	position: absolute;
	right: 0;
	bottom: 100%;
	min-width: 400px;
}

.search-form select,
.search-form input:text {
	width: 50%;
}